site_name: Documentations by Rohit Farmer
site_description: Rohit Farmer's cookbook-style documentation website on frequently used software and code snippets.
site_url: https://docs.rohitfarmer.com
site_author: Rohit Farmer
repo_url: https://github.com/rohitfarmer/mk-docs
repo_name: GitHub
docs_dir: contents
site_dir: docs
theme:
  name: material
  palette:
      # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: green
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: blue grey
      accent: green
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    
    #scheme: slate
    #primary: orange
    #accent: indigo
  features:
    - navigation.path
    - navigation.top
    - navigation.tracking    
    - navigation.footer
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
